<div class="container-fluid" style="padding: 1.5em;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Agregar</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row" style="padding: 2em;">

    <div *ngFor="let i of datos">
      <div *ngIf="i.vendido == 0" class="col">

        <div class=" card" style="width: 18rem;">
          <img src="{{i.url}}" class="card-img-top" width="500px" height="300px;">
          <div class="card-body">
            <h5 class="card-title"> {{i.nombre}} ${{i.precio}} </h5>

            <p class="card-text"> {{i.descripcion}} </p>
            <a href="#" class="btn btn-primary" data-toggle="modal" (click)="getObjectToPay(i)" data-target="#exampleModalPay">Comprar</a>
          </div>
        </div>
      </div>

    </div>


  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Realizar Pago</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form [formGroup]="form_producto" class="form-group">
            <div class="row">

              <div class="col">
                <label>Nombre:</label>
                <input type="text" formControlName='nombre' class="form-control" placeholder="nombre">
              </div>

              <div class="col">
                <label>Precio:</label>
                <input type="number" formControlName='precio' min="1" placeholder="precio" class="form-control">
              </div>
            </div>

            <div class="row">

              <div class="col">
                <label>descripcion:</label>
                <textarea class="form-control" formControlName='descripcion' id="exampleFormControlTextarea1"
                  rows="3"></textarea>
              </div>

              <div class="col">
                <label>URL:</label>
                <input type="text" class="form-control" formControlName='url'
                  placeholder="https://imagenes.com/perritos.jpg">
              </div>

            </div>
            <br>
            <div class="row">

              <div class="col">
                <button data-dismiss="modal" class="btn btn-success btn-block"
                  (click)="crearProducto()">Agregar</button>
              </div>

            </div>

          </form>

        </div>

      </div>
    </div>
  </div>

  <!-- Modal  PAGO -->
  <div class="modal fade" id="exampleModalPay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelPay"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pagar Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
            <input class="form-control" type="text" formControlName="name" placeholder="Jane Doe">
            <br>
            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
            <br>
            <button class="btn btn-success btn-block" type="submit">
              Pagar
            </button>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>